@media all and (max-width: 600px) {
    body{
        background: #00004e;
        color: white;
    }
}

@media all and (orientation:landscape){
    h1{
        font-size: 80px;
    }
}

@media all and (orientation: portrait){
    h1{
        font-size: 30px;
    }
}
h1{
    border: 2px solid white;
    padding: 20px;
}

@media (min-width:600px) and (max-width:900px){
    img {
        display: none;
    }
}

@media (min-width:600px) {
    p {
        column-count: 2;
    }
}

@media print{
    body{
        background-color: transparent;
    }
}

@media only screen and (max-width:800px){
    header{
        flex-direction:column;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
    header img{
        margin-left: auto;
        margin-right: auto;
    }
    .main-heading h1{
        font-size: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .main-heading a {
        font-size: 13px;
        padding: 25px;
    }
}

.main-heading{
    margin-top: 0;
}
nav ul li.active{
    padding-right: 0;
}
nav ul{
    padding-left: 0;
}
.service{
    width: 100%;
}
.service-box {
    flex-direction: column;
}
.title-box {
    width: 90%
}
input[type="text"], input[type="email"], textarea {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}